:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.weather-large-text {
  font-family: Roboto;
  font-size: 143px;
  font-weight: 400;
  line-height: 1; /* Change to 1 for tighter spacing */
  letter-spacing: -0.08em;
  margin: 0; /* Remove any default margin */
}

.weather-bold{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.weather-heading {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 400;
  line-height: 1; /* Change to 1 for tighter spacing */
  margin: 0; /* Remove any default margin */
}
.weather-sub-heading{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}
.weather-caption {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1; /* Change to 1 for tighter spacing */
  margin: 0; /* Remove any default margin */
}
.weather-text{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #FFFFFFB2;
}
.weather-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.weather-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.weather-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.weather-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.temp-text{
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: right;
color: #FFFFFFB2;
}